.navbar{
	width: 100%;
	height: 100px;
	line-height: 100px;
}

.navbar .logo{
	height: auto;
	max-height: 40px;
	width: auto;
	display: block;
}

.navbar .site-logo-container{
	padding-top: 30px;
}

.nav-list{
	float: right;
	margin: 0;
	padding: 0;
}

.nav-item{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

.nav-link{
	text-transform: uppercase;
	font-size: 12px;
	color: var(--txt-color);
	text-decoration: none;
	transition-duration: .2s;
	transition-property: color;
}

.nav-link:hover,
.nav-link.active{
	color: var(--txt-alt-color-main);
}

.lang-panel{
	white-space: nowrap;
	font-size: 12px;
	text-align: center;
}

.lang-panel a{
	text-decoration: none;
	color: var(--txt-color);
	text-transform: uppercase;
	transition-duration: .2s;
	transition-property: color;
}

.lang-panel a:hover,
.lang-panel a.active{
	color: var(--txt-alt-color-main);
}

.go-webcams{
	float: right;
	display: block;
	margin-top: 30px;
	width: 40px;
	height: 40px;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	background-position: -38px -1910px;
}

.adaptive-control-btn{
	display: block;
	visibility: hidden;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 0;
	float: right;
	margin-top: 30px;
	background-image: url('../imgs/sandwitch.png');
	background-repeat: no-repeat;
	background-position: center right;
	z-index: 2;
}

.adaptive-control-btn:focus{
	outline: none;
}

.close-nav{
	background-image: url('../imgs/close.png');
	display: none;
}

@media (max-width: 1200px){
	.nav-item{
		margin-right: 20px;
	}
}

@media (max-width: 992px){
	.adaptive-control-btn{
		visibility: visible;
	}

	.go-webcams{
		position: absolute;
    float: none;
    top: 51px;
    right: 15px;
	}

	.navbar{
		height: 64px;
		position: relative;
		overflow: hidden;
		transition-duration: .2s;
		transition-property: height;
	}

	.navbar.active{
		height: 400px;
	}

	.nav-list{
		margin-top: 135px;
		position: relative;
		float: none;
		left: 25px;
	}

	.nav-item{
		display: block;
		width: 100%;
		text-align: left;
		line-height: initial;
		margin-bottom: 16px;
	}

	.nav-link{
		font-size: 16px;
	}

	.navbar .site-logo-container{
		min-width: 77px;
		padding-top: 37px;
	}

	.navbar .logo{
		width: 100%;
	}

	.lang-panel{
		position: absolute;
		left: -70px;
		top: 90px;
		font-size: 16px;
		line-height: 25px;
	}
}

@media (max-width: 768px){
	.adaptive-control-btn{
		margin-top: 25px;
	}

	.navbar .search-bar .go-search{
		margin-top: 25px;
	}

	.search-bar{
		margin-left: 50px;
	}
}

@media (max-width: 576px){
	.adaptive-control-btn{
		position: absolute;
		right: 15px;
		top: 25px;
		margin-top: 0;
	}

	.adaptive-control-container{
		position: static;
	}

	.lang-panel-container{
		position: static;
	}

	.search-bar{
		margin-left: 0px;
	}

	.lang-panel{
		left: 15px;
	}
}
.search-bar{
	text-align: center;
	white-space: nowrap;
	font-size: 0px;
	line-height: 0;
	min-width: 50px;
}

.search-bar .go-search{
	border: 0;
	background-color: transparent;
	display: inline-block;
	margin-top: 30px;
	width: 50px;
	min-width: 50px;
	height: 40px;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	background-position: -39px -716px;
	padding-left: 40px;
	position: relative;
	margin-left: 15px;
	font-size: 16px;
	color: #fff;
	left: -30px;
	padding-right: 100px;
	box-sizing: border-box;
	z-index: 1;
	transition-duration: .3s;
	transition-property: padding-left, background-color, border, width, left, background-position;
}

.search-bar .go-search::placeholder{
	font-size: 12px;
	line-height: 40px;
	color: transparent;
}

.search-bar .go-search:focus,
.search-bar .go-search.active{
	background-color: #3C3C3C;
	border: 1px solid #fff;
	width: 500px;
	left: -480px;
	padding-left: 10px;
	background-position: 410px -716px;
}

.search-bar .go-search:focus{
	outline: none;
}

.search-bar .go-search:focus::placeholder,
.search-bar .go-search.active::placeholder{
	color: #929294;
}

.search-bar .clear-search-field{
	position: relative;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	background-position: -39px -486px;
	width: 40px;
	height: 40px;
	top: 15px;
	left: -5px;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
	display: inline-block;
	transition-duration: .2s;
	transition-property: opacity;
	opacity: 0;
}

.search-bar .clear-search-field.show{
	visibility: visible;
	opacity: 1;
}

.search-results{
	width: 500px;
	position: relative;
	left: -425px;
	display: block;
	border: 1px solid #fff;
	border-top-width: 0;
	background-color: #3C3C3C;
	visibility: hidden;
	overflow-x: hidden;
	opacity: 0;
	transition-delay: .3s;
	transition-duration: .3s;
	transition-property: opacity;
}

.search-item{
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: var(--txt-color);
	text-align: left;
	text-decoration: none;
	overflow: hidden;
	padding: 0 8px;
	margin: 8px 0;
	box-sizing: border-box;
}

.search-bar .go-search:focus ~ .search-results,
.search-bar .go-search.active ~ .search-results{
	visibility: visible;
	opacity: 1;
}

@media (max-width: 768px){
	.search-bar .go-search:focus, 
	.search-bar .go-search.active{
		background-position: 160px -716px;
		width: 250px;
		left: -233px;
		z-index: 1;
	}

	.search-results{
		width: 250px;
		left: -178px;
		z-index: 1;
	}
}
.social-bar{
	position: fixed;
	width: 40px;
	right: 0px;
	height: 160px;
	top: 50%;
	margin-top: -80px;
}

.social-bar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-bar-item{
	margin: 0;
	padding: 0;
}

.social-bar-link{
	display: block;
	width: 40px;
	height: 40px;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.soc-instagram{
	background-position: -40px -1067px;
}

.soc-youtube{
	background-position: -39px -1187px;
}

.soc-facebook{
	background-position: -36px -833px;
}

.soc-telegram{
	background-position: -40px -952px;
}

.social-bar:hover .social-bar-item{
	opacity: .7;
}

.social-bar .social-bar-item:hover{
	opacity: 1;
}

@media (max-width: 992px){
	.social-bar{
		position: absolute;
    width: 100%;
    text-align: center;
    height: 40px;
    top: 330px;
    margin-top: 0;
    visibility: hidden;
    opacity: 0;
    transition-duration: .2s;
    transition-property: opacity;
	}

	.social-bar.show{
		opacity: 1;
		visibility: visible;
	}

	.social-bar-item{
		display: inline-block;
	}
}
.article-card{
	overflow: hidden;
	width: 100%;
	height: 280px;
	background-color: grey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 40px;
}

.article-card > a,
.article-card > a:hover{
	text-decoration: none;
	color: inherit;
}

.article-card > a:focus{
	outline: none;
}

.article-card-link{
	display: block;
	width: 100%;
	height: 100%;
}

.article-card-content{
	box-sizing: border-box;
	padding: 16px;
	width: 100%;
	height: 100%;
	background-color: rgba(28, 29, 31, 0.75);
	opacity: 0;
	padding-top: 100px;
	transition-property: opacity, padding-top;
	transition-duration: .2s;
}

.article-title{
	text-align: center;
	margin-bottom: 16px;
}

.article-excerpt{
	font-size: 16px;
	line-height: 22px;
	max-height: 112px;
	overflow: hidden;
}

.article-card:hover .article-card-content{
	opacity: 1;
	padding-top: 80px;
}
.partners .section-content{
	margin-top: 60px;
}

.link-partner-single{
	text-decoration: none;
	color: var(--txt-color);
}

.partner-card{
	text-align: center;
	margin-top: 80px;
	opacity: 0.8;
	transition-duration: .2s;
	transition-property: opacity;
}

.partner-logo{
	width: 160px;
	height: auto;
	max-height: 160px;
}

.partner-name{
	margin-top: 40px;
}

.partner-card:hover{
	opacity: 1;
}
.back-to-previus{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
}

.back-button{
	text-decoration: none;
	color: var(--txt-color);
	font-size: 12px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding-left: 29px;
	position: relative;
	z-index: 1;
	left: -5px;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	background-position: -46px -153px;
	transition-duration: .2s;
	transition-property: background-position-x;
}

.back-button:hover{
	background-position-x: -48px;
}
.tags{
	margin: 40px 0;
}

.tags ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.tag{
	display: inline-block;
	margin-top: 6px;
}

.tag-link{
	text-decoration: none;
	display: inline-block;
	color: var(--txt-color);
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding: 8px;
	border: 1px solid var(--txt-color);
	background-color: transparent;
	transition-duration: .2s;
	transition-property: background-color, color;
}

.tag.active .tag-link,
.tag:hover .tag-link{
	color: var(--btn-color-main);
	background-color: var(--txt-color);
}
.article-social{}

.article-social .like,
.article-social .share{
	display: inline-block;
	background-color: transparent;
	border: 0;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-image: var(--article-social-sprite);
	height: 40px;
	margin-right: 30px;
	color: var(--share-btn-txt-color);
	font-size: 12px;
	line-height: 40px;
	cursor: pointer;
}

.article-social .like:focus,
.article-social .share:focus,
.share-container:focus{
	outline: none;
}

.article-social .share-container{
	display: inline-block;
	position: relative;
}

.article-social .like{
	background-position: -50px -414px;
}

.article-social .like.active,
.article-social .like:hover{
	background-position: -50px -288px;
}

.article-social .share{
	background-position: -50px -675px;
}

.article-social .share:hover,
.article-social .share.active,
.article-social .share-container:focus .share{
	background-position: -50px -543px;
}

.article-social .share-list{
	height: 60px;
	background-color: #fff;
	position: absolute;
	top: -80px;
	left: 0px;
	padding: 0 10px;
	visibility: hidden;
	opacity: 0;
	transition-duration: .2s;
	transition-property: opacity, top;
}

.article-social .share-list.active,
.article-social .share-container:focus .share-list{
	top: -85px;
	opacity: 1;
	visibility: visible;
}

.article-social .share-btn{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-image: var(--article-social-sprite);
	filter: brightness(2);
	transition-duration: .2s;
}

.article-social .share-list:before{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 8px;
	position: absolute;
	margin-top: 60px;
	margin-left: 5px;
}

.article-social .share-btn.facebook{
	background-position: -37px -163px;
}

.article-social .share-btn.telegram{
	background-position: -42px -40px;
}

.article-social .share-btn:hover{
	filter: brightness(1);
}