@join:elements/navbar.css;
@join:elements/search-bar.css;
@join:elements/social-bar.css;
@join:elements/article-card.css;
@join:elements/partner-card.css;
@join:elements/back-button.css;
@join:elements/tags.css;
@join:elements/article-social.css;
@join:elements/home-carousel.css;
@join:elements/recent-products.css;
@join:elements/contacts.css;
@join:elements/footer.css;