.navbar{
	width: 100%;
	height: 100px;
	line-height: 100px;
}

.navbar .logo{
	height: auto;
	max-height: 40px;
	width: auto;
	display: block;
}

.navbar .site-logo-container{
	padding-top: 30px;
}

.nav-list{
	float: right;
	margin: 0;
	padding: 0;
}

.nav-item{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

.nav-link{
	text-transform: uppercase;
	font-size: 12px;
	color: var(--txt-color);
	text-decoration: none;
	transition-duration: .2s;
	transition-property: color;
}

.nav-link:hover,
.nav-link.active{
	color: var(--txt-alt-color-main);
}

.lang-panel{
	white-space: nowrap;
	font-size: 12px;
}

.lang-panel a{
	text-decoration: none;
	color: var(--txt-color);
	text-transform: uppercase;
	transition-duration: .2s;
	transition-property: color;
}

.lang-panel a:hover,
.lang-panel a.active{
	color: var(--txt-alt-color-main);
}

.go-webcams{
	float: right;
	display: block;
	margin-top: 30px;
	width: 40px;
	height: 40px;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
  background-position: -38px -1910px;
}
.search-bar{
	text-align: center;
	white-space: nowrap;
	font-size: 0px;
	line-height: 0;
}

.search-bar .go-search{
	border: 0;
	background-color: transparent;
	display: inline-block;
	margin-top: 30px;
	width: 50px;
	height: 40px;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	background-position: -39px -716px;
	padding-left: 40px;
	position: relative;
	margin-left: 15px;
	font-size: 16px;
	color: #fff;
	left: -30px;
	padding-right: 100px;
	box-sizing: border-box;
	transition-duration: .3s;
	transition-property: padding-left, background-color, border, width, left, background-position;
}

.search-bar .go-search::placeholder{
	font-size: 12px;
	line-height: 40px;
	color: transparent;
}

.search-bar .go-search:focus,
.search-bar .go-search.active{
	background-color: #3C3C3C;
	border: 1px solid #fff;
	width: 500px;
	left: -480px;
	padding-left: 10px;
	background-position: 410px -716px;
}

.search-bar .go-search:focus{
	outline: none;
}

.search-bar .go-search:focus::placeholder,
.search-bar .go-search.active::placeholder{
	color: #929294;
}

.search-bar .clear-search-field{
	position: relative;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	background-position: -39px -486px;
	width: 40px;
	height: 40px;
	top: 15px;
	left: -5px;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
	display: inline-block;
	transition-duration: .2s;
	transition-property: opacity;
	opacity: 0;
}

.search-bar .clear-search-field.show{
	visibility: visible;
	opacity: 1;
}
.social-bar{
	position: fixed;
	width: 40px;
	right: 0px;
	height: 160px;
	top: 50%;
	margin-top: -80px;
}

.social-bar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-bar-item{
	margin: 0;
	padding: 0;
}

.social-bar-link{
	display: block;
	width: 40px;
	height: 40px;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.soc-instagram{
	background-position: -40px -1067px;
}

.soc-youtube{
	background-position: -39px -1187px;
}

.soc-facebook{
	background-position: -36px -833px;
}

.soc-telegram{
	background-position: -40px -952px;
}

.social-bar:hover .social-bar-item{
	opacity: .7;
}

.social-bar .social-bar-item:hover{
	opacity: 1;
}
.article-card{
	overflow: hidden;
	width: 100%;
	height: 280px;
	background-color: grey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.article-card > a,
.article-card > a:hover{
	text-decoration: none;
	color: inherit;
}

.article-card > a:focus{
	outline: none;
}

.article-card-link{
	display: block;
	width: 100%;
	height: 100%;
}

.article-card-content{
	box-sizing: border-box;
	padding: 16px;
	width: 100%;
	height: 100%;
	background-color: rgba(28, 29, 31, 0.75);
	opacity: 0;
	padding-top: 100px;
	transition-property: opacity, padding-top;
	transition-duration: .2s;
}

.article-title{
	text-align: center;
	margin-bottom: 16px;
}

.article-excerpt{
	font-size: 16px;
	line-height: 22px;
	max-height: 112px;
	overflow: hidden;
}

.article-card:hover .article-card-content{
	opacity: 1;
	padding-top: 80px;
}