@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');

:root{
	--body-bg: #1C1D1F;
	--txt-color: #fff;
	--font-family: 'Open Sans';
	--txt-alt-color-main: #64FB00;
	--global-sprite: url('../imgs/css_sprites.png');
	--btn-color-main: #1C1D1F;
	--btn-bg-main: #fff;
	--btn-color-main-hover: #64FB00;
	--input-color: #fff;
	--input-color-inverted: #1C1D1F;
	--label-color: #929294;
	--social-sprite: url('../imgs/social-sprite.png');
	--article-social-sprite: url('../imgs/article-social-sprite.png');
	--share-btn-txt-color: #929294;
	--link-color: #64FB00;
}

body{
	background: var(--body-bg);
	color: var(--txt-color);
	font-family: var(--font-family);
	overflow-x: hidden;
	padding-top: 85px;
}

@media (min-width: 1440px){
	.container{
		width: 1440px;
		max-width: 1440px;
	}
}

.heading{
	font-weight: 900;
	color: var(--txt-color);
	/*font-family: Rubik;*/
}

.heading.inverted{
	color: var(--body-bg);
}

h1.heading{
	font-size: 80px;
}

h2.heading{
	font-size: 60px;
}

h3.heading{
	font-size: 30px;
	font-weight: bold;
}

h4.heading{
	font-size: 24px;
	font-weight: bold;
}

@media (max-width: 768px){
	h1.heading{
		font-size: 40px;
	}

	h2.heading{
		font-size: 30px;
	}

	/*h3.heading{
		font-size: 20px;
		font-weight: bold;
	}

	h4.heading{
		font-size: 18px;
		font-weight: bold;
	}*/
}

.link{
	text-decoration: underline;
	color: var(--link-color);
	font-size: 12px;
}

.txt-normal{
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
}

.site-section{
	margin-top: 120px;
}

.section-heading{
	margin-top: 0;
	padding-top: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.section-sub-heading{
	text-align: center;
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.section-content{
	margin-top: 24px;
}

.section-footer{
	width: 100%;
	text-align: center;
}

.page{
	margin-top: 25px;
}

.button{
	display: inline-block;
	text-decoration: none;
	width: 325px;
	max-width: 85vw;
	background-color: transparent;
	color: var(--txt-color);
	height: 50px;
	line-height: 50px;
	border: 1px solid var(--txt-color);
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	transition-duration: .2s;
	transition-property: color, border-color, background-color;
}

.button.medium{
	width: 290px;
}

.button.small{
	width: 210px;
	height: 40px;
	line-height: 40px;
}

.button.chevron{
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
  background-position: 225px -31px;
  text-align: left;
  padding-right: 85px;
  padding-left: 20px;
}

.button.chevron.medium{
	background-position: 200px -31px;
	padding-right: 65px;
}

.button.chevron.small{
	background-position: 126px -37px;
	padding-right: 45px;
}

.button.main{
	color: var(--btn-color-main);
	background-color: var(--btn-bg-main);
}

.button.chevron.main{
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
  background-position: 225px -366px;
  text-align: left;
  padding-right: 85px;
  padding-left: 20px;
}

.button.chevron.medium.main{
	background-position: 200px -366px;
	padding-right: 65px;
}

.button.chevron.small.main{
	background-position: 126px -373px;
	padding-right: 45px;
}

.button:hover{
	border-color: var(--btn-color-main-hover);
	color: var(--btn-color-main-hover);
}

.button.main:hover{
	border-color: var(--btn-bg-main);
}

.button:focus{
	outline: none;
}

.button.main:hover,
.button.medium.main:hover,
.button.chevron:hover{
	color: var(--btn-color-main-hover);
	background-position-y: -254px;
}

.button.chevron.small.main:hover,
.button.chevron.small:hover{
	background-position-y: -261px;
}

.button.chevron:focus,
.button:focus{
	background-position-y: -366px;
	background-color: var(--btn-color-main-hover);
	color: var(--btn-color-main);
	border-color: var(--btn-color-main-hover);
}

.button.main:focus,
.button.medium.main:focus{
	background-color: var(--btn-color-main-hover);
	background-position-y: -366px;
	color: var(--btn-color-main);
	border-color: var(--btn-color-main);
}

.button.chevron.small.main:focus,
.button.chevron.small:focus{
	background-position-y: -373px;
}

@media (max-width: 420px){
	.button.chevron.main{
    background-position: 250px -366px;
    max-width: 420px;
	}
}

@media (max-width: 360px){
	.button.chevron.main{
    background-position: 225px -366px;
    max-width: 360px;
	}
}

@media (max-width: 320px){
	.button.chevron.main{
    background-position: 205px -366px;
    max-width: 320px;
	}
}
.form-container{
	margin-top: 8px;
	padding: 0;
	width: 100%;
	height: 40px;
	width: 325px;
	max-width: 85vw;
}

.form-container .input{
	box-sizing: border-box;
	width: 100%;
	display: block;
	width: inherit;
	height: 40px;
	font-size: 12px;
	color: var(--input-color);
	border: 1px solid var(--input-color);
	background-color: transparent;
	padding: 0 11px;
	line-height: 40px;
	position: relative;
	top: -40px;
	margin-top: 0;
	z-index: 2;
}

.form-container .label{
	box-sizing: border-box;
	font-size: 12px;
	color: var(--label-color);
	display: block;
	height: 40px;
	line-height: 40px;
	margin-bottom: 0;
	position: relative;
	top: 0;
	z-index: 1;
	padding-left: 11px;
	transition-duration: .2s;
	transition-property: line-height, font-size;
}

.form-container textarea.input{
	resize: none;
	overflow: auto;
	line-height: 24px;
	padding-top: 10px;
	box-sizing: border-box;
	height: 80px;
}

.form-container.textarea{
	height: 80px;
}

.form-container.focus .label{
	font-size: 8px;
	line-height: 12px;
}

.form-container.inverted .input{
	border-color: var(--input-color-inverted);
	color: var(--input-color-inverted);
}

.form-container.inverted .label{
	color: var(--label-color);
}

.form-container .input::placeholder{
	font-size: 0;
}

.form-container .input:focus{
	outline: none;
}

@media (max-width: 420px){
	.form-container{
		width: 100%;
		max-width: 100%;
	}

	.contacts-card form .button{
		width: 100%;
		max-width: 100%;
	}
}

.latest-articles .articles{
	width: 100%;
	max-width: 1175px;
	margin-left: auto;
	margin-right: auto;
}

/* PARTNER PAGE SINGLE */

.partner-single .section-heading{
	text-align: left;
	text-transform: none;
}

.partner-single .section-content{
	margin-top: 40px;
}

.partner-single .partner-logo{
	width: 160px;
	max-height: 160px;
	height: auto;
}

.about-partner{
	font-size: 16px;
	line-height: 22px;
	margin-top: 20px;
}

.partner-link{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: var(--social-sprite);
	background-repeat: no-repeat;
	background-position: -45px -42px;
	margin-right: 10px;
	margin-top: 35px;
}

.partner-link.facebook{
	background-position: -40px -159px;
}

.partner-link.instagram{
	background-position: -43px -277px;
}

.partner-link.youtube{
	background-position: -44px -395px;
}

.partner-link.telegram{
	background-position: -45px -42px;
}

/* PARTNERS CAROUSEL */

.partners-carousel{
	margin: 125px 0;
	width: 90%;
	margin-left: 5%;
}

.partners-carousel .partner-card{
	text-align: center;
	width: 90%;
	margin-left: 5%;
	margin-top: 0;
}

.partners-carousel .partner-logo{
	width: 100%;
	max-width: 100px;
	max-height: 100px;
	display: inline-block;
}

.partners-carousel .slick-arrow{
	font-size: 0;
	background-color: transparent;
	border: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	position: absolute;
	top: 26px;
}

.partners-carousel .slick-arrow.slick-prev{
	background-position: -29px -143px;
	left: -75px;
}

.partners-carousel .slick-arrow.slick-next{
	background-position: -29px -31px;
	left: calc(100% + 20px);
}

@media (max-width: 768px){
	.partners-carousel .slick-arrow{
		display: none !important;
	}
}

/* TEAM */

.team-item{
	width: 100%;
	margin-bottom: 40px;
}

.team-item > a{
	text-decoration: none;
	color: var(--txt-color);
}

.team-item .thumbnail{
	height: 280px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition-duration: .2s;
}

.team-item .name{
	margin-top: 16px;
	margin-bottom: 0;
}

.team-item .excerpt{
	font-size: 12px;
	line-height: 17px;
}

.team-item > a:hover .thumbnail{
	filter: grayscale(0%);
}

.teammate .teammate-photo{
	width: 100%;
	height: auto;
	max-height: initial;
	margin-bottom: 40px;
}

.teammate .about-teammate{
	margin-top: 0;
}

/* ARTICLE SINGLE */

.article-single{
	margin-top: 0;
	margin-bottom: 120px;
}

.article-single .article-title{
	text-align: left;
	margin-top: 0;
}

.article-single .article{}

.article-single .article-thumbnail{
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
	height: auto;
}

.article-single .article-content{
	margin-bottom: 45px;
	font-size: 16px;
	line-height: 23px;
}

.article-single .article-content p{
	margin: 5px 0;
}

.related-articles .section-heading{
	text-align: left;
}

/* COMMING SOON */

.comming-soon{
	position: absolute;
	top: 100px;
	width: 100%;
	height: calc(100% - 100px);
	background: url('../imgs/comming-soon-bg.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 0;
}

.comming-soon .content{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	padding-top: 200px;
	z-index: 0;
}

.comming-soon .heading{
	line-height: 82px;
}

.comming-soon .home-link{
	text-transform: uppercase;
	font-weight: bold;
}

/* POPUP */

.popup-back{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(128, 128, 128, .3);
	transition-duration: .2s;
	transition-property: opacity;
	z-index: 1000;
	cursor: pointer;
}

.popup-back.active{
	opacity: 1;
	visibility: visible;
}

.popup{
	position: fixed;
	left: 50%;
	width: 440px;
	margin-left: -220px;
	top: 220px;
	background-color: #fff;
	z-index: 2000;
	padding: 24px;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, top;
	transition-duration: .2s;
}

.popup-title{
	margin-top: 0;
}

.popup.active{
	visibility: visible;
	opacity: 1;
	top: 180px;
}


/* LOGIN POPUP */

.login .form-container,
.signup .form-container{
	width: 100%;
}

.login-btn{
	width: 100%;
	background-color: var(--body-bg);
	color: #fff;
	border-color: var(--body-bg);
	margin-top: 24px;
}

.login-note{
	display: block;
	margin-top: 10px;
	color: #777;
	font-size: 12px;
}

.login-note a{
	color: var(--body-bg);
	font-weight: bold;
	text-decoration: none;
}

/* SEARCH PAGE */

body.search{
	background-color: #fff;
}

body.search .footer{
	display: none;
}

body.search .back-button{
	color: var(--body-bg);
	background-image: url('../imgs/arrow-left-dark.png');
	background-repeat: no-repeat;
	background-position: 0 8px;
}

.page.search .section-heading{
	color: var(--body-bg);
	text-align: left;
	font-weight: 800;
}

.page.search{
	color: var(--body-bg);
}

.search-results-container{
	
}

.page.search .count-results{
	margin-top: 30px;
	margin-bottom: 40px;
}

.search-result-item{
	margin-bottom: 24px;
	display: grid;
	grid-template-columns: 90px auto;
	grid-column-gap: 20px;
}

.search-result-item .post-thumbnail{
	width: 95px;
	height: 95px;
	background-position: center center;
	background-size: cover;
}	

.search-result-item .post-content{
	font-size: 20px;
	margin-left: 20px;
}

.search-result-item .heading{
	color: var(--body-bg);
	margin-top: 0;
	margin-bottom: 15px;
}

/* VIDEO PLAYER */

.video-play-btn,
.video-mute-btn{
	width: 50px;
	height: 50px;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	filter: brightness(1);
	transition-property: filter;
	transition-duration: .2s;
}

.video-play-btn:hover,
.video-mute-btn:hover{
	filter: brightness(2);
}

.video-play-btn.play{
	background-image: url('../imgs/play-circle-outline.png');
}

.video-play-btn.pause{
	background-image: url('../imgs/pause-circle-outline.png');
}

.video-mute-btn{
	background-size: 60% auto;
}

.video-mute-btn.mute{
	background-image: url('../imgs/volume-mute.png');
}

.video-mute-btn.unmute{
	background-image: url('../imgs/volume-high.png');
}

.video-play-btn:focus,
.video-mute-btn:focus{
	outline: none;
}