@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');

:root{
	--body-bg: #1C1D1F;
	--txt-color: #fff;
	--font-family: 'Open Sans';
	--txt-alt-color-main: #64FB00;
	--global-sprite: url('/imgs/css_sprites.png');
	--btn-color-main: #1C1D1F;
	--btn-bg-main: #fff;
	--btn-color-main-hover: #64FB00;
}

body{
	background: var(--body-bg);
	color: var(--txt-color);
	font-family: var(--font-family);
	overflow-x: hidden;
}

.heading{
	font-weight: 900;
	color: var(--txt-color);
	font-family: Rubik;
}

h1.heading{
	font-size: 80px;
}

h2.heading{
	font-size: 60px;
}

h3.heading{
	font-size: 30px;
	font-weight: bold;
}

h4.heading{
	font-size: 24px;
	font-weight: bold;
}

.txt-normal{
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
}

.site-section{
	margin-top: 120px;
}

.section-heading{
	margin-top: 0;
	padding-top: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.section-sub-heading{
	text-align: center;
	width: 100%;
}

.section-content{
	margin-top: 24px;
}

.button{
	width: 325px;
	background-color: transparent;
	color: var(--txt-color);
	height: 50px;
	line-height: 50px;
	border: 1px solid var(--txt-color);
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	transition-duration: .2s;
	transition-property: color, border-color, background-color;
}

.button.medium{
	width: 290px;
}

.button.small{
	width: 210px;
	height: 40px;
	line-height: 40px;
}

.button.chevron{
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
  background-position: 225px -31px;
  text-align: left;
  padding-right: 85px;
  padding-left: 20px;
}

.button.chevron.medium{
	background-position: 200px -31px;
	padding-right: 65px;
}

.button.chevron.small{
	background-position: 126px -37px;
	padding-right: 45px;
}

.button.main{
	color: var(--btn-color-main);
	background-color: var(--btn-bg-main);
}

.button.chevron.main{
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
  background-position: 225px -366px;
  text-align: left;
  padding-right: 85px;
  padding-left: 20px;
}

.button.chevron.medium.main{
	background-position: 200px -366px;
	padding-right: 65px;
}

.button.chevron.small.main{
	background-position: 126px -373px;
	padding-right: 45px;
}

.button:hover{
	border-color: var(--btn-color-main-hover);
	color: var(--btn-color-main-hover);
}

.button.main:hover{
	border-color: var(--btn-bg-main);
}

.button:focus{
	outline: none;
}

.button.main:hover,
.button.medium.main:hover,
.button.chevron:hover{
	color: var(--btn-color-main-hover);
	background-position-y: -254px;
}

.button.chevron.small.main:hover,
.button.chevron.small:hover{
	background-position-y: -261px;
}

.button.chevron:focus,
.button:focus{
	background-position-y: -366px;
	background-color: var(--btn-color-main-hover);
	color: var(--btn-color-main);
	border-color: var(--btn-color-main-hover);
}

.button.main:focus,
.button.medium.main:focus{
	background-color: var(--btn-color-main-hover);
	background-position-y: -366px;
	color: var(--btn-color-main);
	border-color: var(--btn-color-main);
}

.button.chevron.small.main:focus,
.button.chevron.small:focus{
	background-position-y: -373px;
}

