<nav class="navbar">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="site-logo-container">
					<a href="/">
						<img src="/imgs/logo-white.png" class="logo">
					</a>
				</div>
			</div>
			<div class="col-6">
				<ul class="nav-list">
					<li class="nav-item"><a href="#" class="nav-link">ХАРАКТЕР</a></li>
					<li class="nav-item"><a href="#" class="nav-link">МАГАЗИН</a></li>
					<li class="nav-item"><a href="#" class="nav-link">ПУБЛИКАЦИИ</a></li>
					<li class="nav-item"><a href="#" class="nav-link">КАЛЕНДАРЬ</a></li>
					<li class="nav-item"><a href="#" class="nav-link">ВОЙТИ</a></li>
				</ul>
			</div>
			<div class="col-1">
				@join:search-bar.html;
			</div>
			<div class="col-1">
				<div class="lang-panel">
					<a href="#">UA</a> / <a href="#">ENG</a> / <a href="#" class="active">RU</a>
				</div>
			</div>
			<div class="col-1">
				<a href="#" class="go-webcams"></a>
			</div>
		</div>
	</div>
</nav>