.recent-products{}

.recent-products .products{
	text-align: center;
}

.recent-products .products .section-footer{
	margin-top: 40px;
}

.pd-card-wrap{}

.product-card{
	display: inline-block;
	width: 100%;
	max-width: 365px;
	margin-bottom: 40px;
	text-align: left;
}

.product-image{
	width: 100%;
	height: 280px;
	background-size: cover;
	background-position: center center;
}

.link-to-product-page{
	width: 100% !important;
}

.product-card-content{}

.product-title{
	margin-bottom: 5px;
}

.product-excerpt{
	margin-bottom: 30px;
}

@media (min-width: 1200px) and (max-width: 1440px){
	.pd-card-wrap .button.main:hover, 
	.pd-card-wrap .button.medium.main:hover, 
	.pd-card-wrap .button.chevron:hover,
	.pd-card-wrap .button.main, 
	.pd-card-wrap .button.medium.main, 
	.pd-card-wrap .button.chevron,
	.pd-card-wrap .button.chevron.main{
		background-position-x: 165px;
	}
}

@media (min-width: 992px) and (max-width: 1200px){
	.pd-card-wrap .button.main:hover, 
	.pd-card-wrap .button.medium.main:hover, 
	.pd-card-wrap .button.chevron:hover,
	.pd-card-wrap .button.main, 
	.pd-card-wrap .button.medium.main, 
	.pd-card-wrap .button.chevron,
	.pd-card-wrap .button.chevron.main{
		background-position-x: 195px;
	}
}