.social-bar{
	position: fixed;
	width: 40px;
	right: 0px;
	height: 160px;
	top: 50%;
	margin-top: -80px;
	z-index: 1;
}

.social-bar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-bar-item{
	margin: 0;
	padding: 0;
}

.social-bar-link{
	display: block;
	width: 40px;
	height: 40px;
	background-image: var(--global-sprite);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.soc-instagram{
	background-position: -40px -1067px;
}

.soc-youtube{
	background-position: -39px -1187px;
}

.soc-facebook{
	background-position: -36px -833px;
}

.soc-telegram{
	background-position: -40px -952px;
}

.social-bar:hover .social-bar-item{
	opacity: .7;
}

.social-bar .social-bar-item:hover{
	opacity: 1;
}

@media (max-width: 992px){
	.social-bar{
		position: absolute;
    width: 100%;
    text-align: center;
    height: 40px;
    top: 330px;
    margin-top: 0;
    visibility: hidden;
    opacity: 0;
    transition-duration: .2s;
    transition-property: opacity;
	}

	.social-bar.show{
		opacity: 1;
		visibility: visible;
	}

	.social-bar-item{
		display: inline-block;
	}
}